
.navbar-custom {
  background-image: url(./kuvat/kirsikka.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.popup{
    font-family: 'Lobster', cursive;
    color: rgba(26, 4, 14, 0.8);
}
.navbar-custom .navbar-nav .nav-link {
    font-family: 'Lobster', cursive;
    color: rgba(8, 8, 8, 0.8);
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #f8b3f8;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

.nav-item .dropdown-menu a:hover {
    color: rgb(250, 199, 235) !important;
    background: rgb(248, 98, 123) !important;
    cursor: pointer;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.carousel-control-prev-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
    
.carousel-control-next-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

#yleistä {
        padding-top: 70px;
}

p{
    text-align: center;
}
h3{
    text-align: center;
}
#demo {
    width:100%; max-width: 600px; margin:auto;
}

.carousel-inner img {
    object-fit: cover;
    width: 100% !important;
    max-height: 340px !important;
}

.nav-link.active {
    color: rgb(250, 173, 241) !important;
}

body { position: relative; 
}
#videot { width: 100%;
        max-width: 800px;
        margin-top: 100px;
    }
#videot .nav-link.active {color: palevioletred; background-color: powderblue;
}
#videot .nav-link {color: powderblue; background-color: palevioletred;
}
.card {min-width: 200px;
}
.form{
    margin:5px;
}
#laheta{
margin: auto;
}
#etsinta{
    margin: 5px;
}
#name{
    margin: 5px
}


.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
/*body {
   background-image: url(./kuvat/kirsikka.jpg) !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgba(199,221,115,0.3);
    text-align: center
}*/
    body {
    position: relative;
    text-align: center;
}

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(./kuvat/kirsikka.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        opacity: 0.3; /* Adjust the opacity as needed */
        z-index: -1; /* Ensure the background is behind the content */
    }
  #naama {
    position: relative;
    width: 100%;
  }
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  #naama:hover .image {
    opacity: 0.3;
  }
  
  #naama:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #ee7bd19a;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  #shake:hover{
        animation: shake 0.5s;
        animation-iteration-count: infinite;
      }
      
      @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
      }
      .button {
        padding: 10px 15px;
        margin-bottom: auto;
        font-size: 14px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color: #ebcffa;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px rgb(245, 3, 233);
      }
      
      .button:hover {background-color: #fca3ccb0}
      
      .button:active {
        background-color: #f30ba6;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
.card-body, .card-header .card-img-top{
    font-family: 'Lobster', cursive;
    background-color: #fca3ccb0;
}
    
