img {max-width: 400px;
}
body{
    background-color: rgb(194, 201, 208);
}
h1{
    color: rgb(29, 141, 238);
}
/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
